<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
<script type=text/javascript src="{{url_for('static', filename='js/confirm_login.js') }}"></script>

{% extends 'base.html' %}

{% block content %}
  <h1 class="header">Sign In</h1>
  <h3>Insert the Two-Factor-Authentication code</h3>
  <form class="_2FA-form" method="POST" novalidate>
    {{ form.csrf_token }}
    <div class="field">
      <input type="text" name="code_2FA" class="input" placeholder=" " required>
      <label for="code_2FA" class="label">Code</label>
    </div>


    {% if form.errors.code_2FA %}
      <div style="transform: translateY(0.2rem)" class="error-register">
        <img style="vertical-align:-2px" height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
        {{ form.errors.code_2FA[0] }}
      </div>
    {% endif %}
    <button disabled="true" class="btn-confirm-code">Confirm code</button>
  </form>

  <div style="margin-top: 5vh">
    <a style="color:purple; font-size: small;" href="{{ url_for('auth.master_password') }}">Lost your phone?</a>
  </div>
{% endblock %}
