<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
<script type=text/javascript src="{{url_for('static', filename='js/login.js') }}"></script>
{% extends 'base.html' %}

{% block content %}
  <h1 class="header">Sign In</h1>
  <form class="login-form" method="POST">
    <div class="field">
      <input type="text" name="email" class="input" placeholder=" " required>
      <label for="email" class="label">Email</label>
    </div>

    <div class="field">
      <input type="password" name="password" class="input" placeholder=" " required>
      <label for="password" class="label">Password</label>
      <span class="toggle-password">👁️</span>
    </div>

    <button disabled="true" class="btn-login">Login</button>
  </form>
{% endblock %}
