<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
<script type=text/javascript src="{{url_for('static', filename='js/master_password.js') }}"></script>

{% extends 'base.html' %}

{% block content %}
    <h1 class="header">Reset 2FA</h1>
    <h4 class="header">By introducing the master password you will be able to reconfigure your phone authentication step</h4>
    <form class="login-form" method="POST" novalidate>
    {{ form.csrf_token }}
    
    <div class="field">
        <input type="password" name="master_password" class="input" placeholder=" " required>
        <label for="master_password" class="label">Master password</label>
        <span class="toggle-password">👁️</span>
    </div>

    <div style="transform: translateY(-0.6rem)" class="error-register">
        <img style="vertical-align:-2px" height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
        {{ attempts }}
      </div>
    {% if form.errors.master_password %}
        <div style="transform: translateY(0.6rem)" class="error-register">
        <img style="vertical-align:-2px" height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
        {{ form.errors.master_password[0] }}
        </div>
    {% endif %}

    <button class="btn-login" style="transition: none">Validate</button>
    </form>
{% endblock %}
