<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
<script type=text/javascript src="{{url_for('static', filename='js/register.js') }}"></script>
{% extends 'base.html' %}

{% block content %}
  <h1 class="header">Sign Up</h1>
  <form class="login-form" method="POST" novalidate>
    {{ form.csrf_token }}

    <div class="field">
      {{ form.name(class_="input", placeholder=" ") }}
      {{ form.name.label(class_="label") }}
      {% if form.name.errors %}
        <div class="error-register">
          <img style="vertical-align:-2px" height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
          {{ form.name.errors[0] }}
        </div>
      {% endif %}
    </div>
    
    <div class="field">
      {{ form.email(class_="input", placeholder=" ") }}
      {{ form.email.label(class_="label") }}
      {% if form.email.errors %}
        <div class="error-register">
          <img style="vertical-align:-2px" height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
          {{ form.email.errors[0] }}
        </div>
      {% endif %}
    </div>

    <div class="field">
      {{ form.password(class_="input", placeholder=" ") }}
      {{ form.password.label(class_="label") }}
      <span class="toggle-password">👁️</span>
      {% if form.password.errors %}
        <div class="error-register">
          <img style="vertical-align:-2px" height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
          {{ form.password.errors[0] }}
        </div>
      {% endif %}
    </div>

    <div class="field" style="margin-bottom: 4rem">
      {{ form.confirmPassword(class_="input", placeholder=" ") }}
      {{ form.confirmPassword.label(class_="label") }}
      <span class="toggle-password">👁️</span>
      {% if form.confirmPassword.errors %}
        <div class="error-register">
          <img style="vertical-align:-2px" height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
          {{ form.confirmPassword.errors[0] }}
        </div>
      {% endif %}
    </div>

    <div class="strength">
      <span class="bar bar-1"></span>
      <span class="bar bar-2"></span>
      <span class="bar bar-3"></span>
      <span class="bar bar-4"></span>
    </div>

    <ul id="validation-links">
      <li>❌  must be at least 8 characters</li>
      <li>❌  must contain a capital letter</li>
      <li>❌  must contain a number</li>
      <li>❌  must contain one of $&+,:;=?@#!</li>
    </ul>

    <button class="btn-register">Register</button>
  </form>
{% endblock %}
