<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
<script type=text/javascript src="{{url_for('static', filename='js/register.js') }}"></script>
{% extends 'base.html' %}

{% block content %}
  <h1 class="header">Sign Up</h1>
  <form class="login-form" method="POST">
    <div class="field">
      <input type="text" name="name" class="input" placeholder=" " minlength="4" required>
      <label for="name" class="label">Name</label>
    </div>

    <div class="field">
      <input type="email" name="email" class="input" placeholder=" " required>
      <label for="email" class="label">Email</label>
    </div>

    <div class="field">
      <input type="password" name="password" class="input" placeholder=" " required>
      <label for="password" class="label">Password</label>
      <span class="toggle-password">👁️</span>
    </div>

    <div class="strength">
      <span class="bar bar-1"></span>
      <span class="bar bar-2"></span>
      <span class="bar bar-3"></span>
      <span class="bar bar-4"></span>
    </div>

    <ul id="validation-links">
      <li>❌  must be at least 8 characters</li>
      <li>❌  must contain a capital letter</li>
      <li>❌  must contain a number</li>
      <li>❌  must contain one of $&+,:;=?@#!</li>
    </ul>

    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div>
      {%- for msg in errors %}
        <img height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
        {{ msg }}
      {% endfor -%}
    </div>
    {% endif %}
    {% endwith %}

    <button disabled="true" class="btn-register">Register</button>
  </form>
{% endblock %}
