<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
<script type=text/javascript src="{{url_for('static', filename='js/change_password.js') }}"></script>

{% extends 'base.html' %}

{% block content %}
    <h1 class="header">Change password</h1>
    <form class="login-form" method="POST" novalidate>
    {{ form.csrf_token }}
    
    <div class="field">
        <input type="password" name="new_password" class="input" placeholder=" " required>
        <label for="new_password" class="label">New password</label>
        <span class="toggle-password">👁️</span>
    </div>
    {% if form.errors.new_password %}
        <div style="transform: translateY(0.2rem)" class="error-register">
        <img style="vertical-align:-2px" height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
        {{ form.errors.new_password[0] }}
        </div>
    {% endif %}
    <div class="field">
        <input type="password" name="confirm_new_password" class="input" placeholder=" " required>
        <label for="confirm_new_password" class="label">Confirm new password</label>
        <span class="toggle-password">👁️</span>
    </div>
    {% if form.errors.confirm_new_password %}
        <div style="transform: translateY(0.2rem)" class="error-register">
        <img style="vertical-align:-2px" height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
        {{ form.errors.confirm_new_password[0] }}
        </div>
    {% endif %}

    <button class="btn-login" style="transition: none">Change password</button>
    </form>
{% endblock %}
