<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
<script type=text/javascript src="{{url_for('static', filename='js/login.js') }}"></script>
{% extends 'base.html' %}

{% block content %}
  <h1 class="header">Sign In</h1>
  <form class="login-form" method="POST" novalidate>
    {{ form.csrf_token }}
    
    <div class="field">
      <input type="text" name="email" class="input" placeholder=" " required>
      <label for="email" class="label">Email</label>
    </div>

    <div class="field">
      <input type="password" name="password" class="input" placeholder=" " required>
      <label for="password" class="label">Password</label>
      <span class="toggle-password">👁️</span>
    </div>

    {% if attempts %}
      <div style="transform: translateY(-0.4rem)" class="error-register">
        <img style="vertical-align:-2px" height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
        {{ attempts }}
      </div>
    {% endif %}

    {% if form.errors.email %}
      <div style="transform: translateY(0.6rem)" class="error-register">
        <img style="vertical-align:-2px" height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
        {{ form.errors.email[0] }}
      </div>
    {% elif form.errors.password %}
      <div style="transform: translateY(0.6rem)" class="error-register">
        <img style="vertical-align:-2px" height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
        {{ form.errors.password[0] }}
      </div>
    {% endif %}

    <div style="margin-top: 7vh">
      <a style="color:purple; font-size: small;" href="{{ url_for('auth.lost_password') }}">Forgot your password?</a>
    </div>

    <button style="margin-top: 1rem" disabled="true" class="btn-login">Login</button>
  </form>
{% endblock %}
