<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />

{% extends 'base.html' %}

{% block content %}
    <h1 class="header">Recover password</h1>
    <form class="login-form" method="POST" novalidate>
    {{ form.csrf_token }}
    
    <div class="field">
        <input type="text" name="email" class="input" placeholder=" " required>
        <label for="email" class="label">Email</label>
    </div>

    {% if attempts %}
      <div style="transform: translateY(-0.4rem)" class="error-register">
        <img style="vertical-align:-2px" height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
        {{ attempts }}
      </div>
    {% endif %}

    {% if form.errors.email %}
        <div style="transform: translateY(0.6rem)" class="error-register">
        <img style="vertical-align:-2px" height="15" width="15" src="{{ url_for('static', filename='img/warning-sign.svg') }}">
        {{ form.errors.email[0] }}
        </div>
    {% endif %}

    <button class="btn-login" style="transition: none">Recover</button>
    </form>
{% endblock %}
