<!DOCTYPE html>
<title>{% block title %}{% endblock %} - SecureAuth</title>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width,initial-scale=1'>
<link rel="stylesheet" href="https://use.typekit.net/oez1alf.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />

<nav class="navbar">
  <ul class="navbar-nav">
    <li style="float: left" class="navbar-item">
      <a href="{{ url_for('index') }}">Home</a>
    </li>
    {% if g.user %}
    <li class="navbar-item">
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
    </li>
    <li class="navbar-item">
      <span>{{ g.user['name'] }}</span>
      {% else %}
    </li>
    <li class="navbar-item">
      <a href="{{ url_for('auth.register') }}">Register</a>
    </li>
    <li class="navbar-item">
      <a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </li>
  </ul>
</nav>

<section class="content">  
  {% with msgs = get_flashed_messages(category_filter=["info"]) %}
  {% if msgs %}
      {%- for message in msgs %}
      <div id="snackbar">
        {{message}}
      </div>
      {% endfor -%}
    <script>
      var x = document.getElementById("snackbar");
      x.className = "show";
      setTimeout(function () {
        x.className = x.className.replace("show", "");
      }, 3000);
    </script>
  {% endif %}
  {% endwith %}

  <main>{% block content %}{% endblock %}</main>
</section>
